@font-face{
    font-family: 'Alax_ar.ttf';
    src: url('../Fonts/Alax_ar.ttf') format('truetype');

}
body{
    font-family: 'Alax_ar.ttf';
    /* font-size: 20px; */
}
div {
    font-size:30px;
}
p {
    /* color:chartreuse !important; */
    font-size: 35px;
}
.paragraph{
    width:100px;
   padding:5px;
   margin:5px;
   border:3px solid green; 
   color:#FFFFFF;
   background-color:black;
}
#p1{
    box-sizing: content-box;
    
}
#p2{
    box-sizing: border-box;
}
#p3{
    padding: 10px 15px 3px 20px;
    background-color:red;
    background-clip: content-box;
}
#bg-element{
    width: 500px;
    padding:20px;
    background-color:aqua;
    border:1px dotted red;
    background-clip: padding-box;
}
img {
    /* float: right; */
}
